
.subtitle {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.text {
  font-size: 18px;
  font-weight: 400;
}
.card {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  background-color: #37373729;
  border: 1px solid #676767;
  border-radius: 12px;
  padding: 1rem;
}
.items {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
}
.card svg {
  fill: #1fc446;
  font-size: 20px;
}
.card .check-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.items-title {
  font-size: 17px;
  font-weight: 700;
}
.date {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}
@media (prefers-color-scheme: dark) {
  .card {
    background-color: #dfdfdf29;
    border: 1px solid #fff;
  }
  .card svg {
    fill: #00ff3c;
  }
}
